.compraContainer .bloqueFactura{
	margin: 5px;
	
	border: 1px solid black;
}

.compraContainer .azul{
	/*background-color: rgb(101, 153, 255);*/
	background-color: #CCCCCC;
}

.compraContainer .azulOscuro{
	/*background-color: rgb(25, 69, 156);*/
	background-color: #000033;
}

.compraContainer .crema{
	/*background-color: rgb(255, 250, 85);*/
	background-color: #CCCCCC;
}

.compraContainer .titulo{
	text-align: left;
	color: white;
	font-weight: bold;
	font-size: 15px;
	line-height: 23px;
	font-family: Tahoma;
	background-color: #000033;
	padding: 3px;
	margin-bottom: 10px;
}

.searchIcon {
	background-image: url("../../img/icons/fact/search.gif");
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}

.cart {
	background-image: url("../../img/icons/fact/cart.png");
	height: 32px;
	width: 32px;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: pointer;
}