@CHARSET "ISO-8859-1";
.topFrame{
	background-color: black;	
}

.topFrameTop{
	margin-top: 1px;
	border-top: 1px solid gray;
	background-image: url("../../img/layout/bgBot.jpg");
	background-repeat: repeat;
}

.topFrameMid{
	border-top: 1px solid gray;
	border-bottom: 1px solid black;	
	background-image: url("../../img/layout/bgTop.jpg");
	background-repeat: repeat;
}

.topFrameBot{
	border-top: 1px solid gray;
	overflow: hidden;
	background-image: url("../../img/layout/bgBot.jpg");
	background-repeat: repeat;
}

.fittedContainer{
	border: 10px solid white;
	padding: 10px;
}

.quickAccessBottom{
	margin: 10px;
	font-size: small;
	height: 25px;
	padding: 0 10px 10px 10px;
	margin-right: 20px;
	padding-left: 10px;
	color: #666;
}

.ladoDerecho{
	margin: 48px 10px 10px;
}

.menuSegundoNivel{
	height: 32px;
	width: 100%;
	margin: 0 auto !important;
}

.crearFactura{
	background-color: green;
	float:right;
	padding: 5px 25px;
	margin: 5px 0;
	cursor: pointer;
	color: white;
	border-radius: 5px;
	margin-right: 80px;
	clear:right;
}

.crearFactura:hover{
	background-color: #AA32CC;
}


.liSegundoNivel{
	text-align: center;
	float: left;
	padding: 0 15px;
	padding-top: 10px;
	border-left: 1px solid #333;
	font-family: Arial;
	border-radius: 0;
	height: 22px;
	line-height: 14px;
	border-right: 1px solid #333;
	font-family: Arial;
	font-size: 11px;
	text-decoration: none!important;
}

a .liSegundoNivel {
	font-weight: normal;
	text-decoration: none;
	color: white !important;
	font-family: "myriad-pro";
}


a:hover .liSegundoNivel{
	color: orange !important;
	text-decoration: underline !important;
}


/*
.menuContainer{
	
}

.menuPrimerNivel{
	width: 100%;
	display: block;
	height: 25px;
	position: relative;
}

.liPrimerNivel{
	float: right;
	background-color: rgb(164, 179, 198);
	width: auto;
	color: black;
	height: 15px;
	margin: 0 1px;
	padding: 5px 15px;
	
	
	-webkit-border-top-left-radius: 95px;
	-webkit-border-top-right-radius: 30px;
	-moz-border-radius-topleft: 95px;
	-moz-border-radius-topright: 30px;
	border-top-left-radius: 95px;
	border-top-right-radius: 30px;
	
}

.liPrimerNivel:hover{
	text-decoration: underline;
	color: white;
}




*/

