@CHARSET "ISO-8859-1";
.x-btn BUTTON:focus { 
  border: 1px dotted black;
}


body{
	overflow-x: hidden !important;
}

#mainViewContainer{
	margin-left: -5px !important;
}

/*
body{
	font-size: 11px;
	font-family: Arial, sans-serif;
	border: solid 15px #4E78B1;
	background-color: #4E78B1;
}

.frameDiv
{
	border: 1px solid black;
	width: 1024px;
	margin: 25px auto;
}

.mainContainer
{
	border: 2px solid rgb(171,168,151);
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	background-color: white;
}

.logoEmpresa{
	background-image: url("../../img/layout/logoMain.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.listaHorizontal{
	list-style-image: none;
	display: inline; 
}

.listaHorizontal li{
	display: inline;
	padding: 0 10px;
}
*/